<!DOCTYPE html>
<html>
  <head>
  	<style>
  		.design {
  			padding: 50px 100px 50px;
  			font-family: "Courier New";
  			font-size: 150px;
  		}
  	</style>
    <title>Button</title>
  </head>
  <body>
    <h1 class="design">Hi!</h1>
  </body>
</html>